<%- include('partials/head') %> 

  <%- include('partials/navbar') %> 
  <!-- This syntax embeds JavaScript in the HTML -->
  <h1>Home Page <%='hello world'.toUpperCase()%></h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur necessitatibus corrupti ad officiis non. Eveniet
    architecto accusamus provident id laudantium, natus quam itaque, expedita quibusdam recusandae porro velit, alias
    quisquam.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur necessitatibus corrupti ad officiis non. Eveniet
    architecto accusamus provident id laudantium, natus quam itaque, expedita quibusdam recusandae porro velit, alias
    quisquam.</p>

    <%- include('partials/footer') %> 