h1 {
  text-align: center;
  font-weight: normal;
  text-decoration: #238130 underline wavy;
  letter-spacing: 15px;
  font-size: 80px;
  font-family: Segoe UI, Futura, sans-serif;
}

a {
  text-decoration: none;
}

p {
  line-height: 2;
}