h2 {
  color: teal;
  background-color: plum;
}

button {
  color: magenta;
  background-color: cyan;
}

p {
  color: olive;
  /* 'Background' can include images - it's more powerful than background-color */
  background: orange;
}