section {
    width: 80%;
    height: 800px;
    /* background-image: url("https://images.unsplash.com/photo-1643090933524-b75c1faf0f74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
    background-size: cover;
    background-position: top; */
    background: url("https://images.unsplash.com/photo-1643090933524-b75c1faf0f74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80") center/cover; /*position/size*/
    margin: 0 auto;
}

h1 {
    font-size: 100px;
    color: white;
}