section {
  width: 500px;
  height: 500px;
  background-color: magenta;
}

#rgba {
  width: 50%;
  height: 50%;
  background-color: rgba(124, 248, 161, 0.714);
}

#opacity {
  width: 50%;
  height: 50%;
  background-color: yellow;
  opacity: 0.3;
}

