html {
    font-size: 10px;
}

section {
    background-color: grey;
    width: 400px;
    height: 800px;
}

div {
    background-color: pink;
    width: 70%;
    height: 20%;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

#ems h2 {
    font-size: 5em;
    margin-left: 1em;
}
#ems h3 {
    font-size: 1.5em;
}
#ems p {
    font-size: 1em;
}

#ems article {
    font-size: 20px;
}

button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
}

ul {
    font-size: 1.5em;
}

#rems h2{
    font-size: 3rem;

}
#rems h3{
    font-size: 2rem;

}
#rems ul{
    font-size: 0.8rem;

}
#rems button{
    font-size: 1.5rem;

}
