h2 {
  color: #5FCFFC;
  background-color: rgb(109, 119, 95);
}

button {
  color: magenta;
  background-color: cyan;
}

p {
  color: olive;
  /* 'Background' can include images - it's more powerful than background-color */
  background: orange;
}

body {
  /* Three digits represents double R, G, and B */
  background-color: #c53;
}