body {
    font-family: 'Raleway', sans-serif;
}

main {
    width: 60%;
    margin: 0 auto;
    font-weight: 400;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

h1 + h2 {
    margin-top: 10px;
}

h1,h2,h3 {
    font-family: 'Raleway Dots', cursive;
}