body {
    margin: 0;
}

div {
    width: 200px;
    height: 200px;
    background-color: #fca311;
}

h1 {
    width: 200px;
    background-color: #e5e5e5;
    padding-left: 100px;
    padding-top: 50px;
    margin: 0;
}

span {
    margin-left: 30px;
}

#one {
    background-color: #cb997e;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    /* box-sizing: border-box; */
    margin-left: 50px;
    margin-bottom: 100px;
}

#two {
    background-color: #ddbea9;
    border: 3px dashed #6b705c;
    border-left-width: 8px;
    padding-right: 50px;
    margin: 200px;
}

#three {
    background-color: #ffe8d6;
    border: 4px dotted black;
    border-left-style: solid;
    border-radius: 50%;
}

button {
    padding: 10px 20px 30px 40px;
}